<div class="container" style="padding-top: 30px;">
	<div class="row">
		<div class="col-9 col-md-9">
		    <h1>Policies</h1>
		</div>
		<div class="col-md-3 col-3 align-right">
		    <button type="button" mdbBtn  gradient="aqua" rounded="true" class="relative waves-light" mdbWavesEffect rounded="true" data-toggle="modal" data-target="#addPolicy" (click)="isEditMode(false); resetPloicyForm(true); prepareNewPolicyRaw(); addPolicyModal.show()" mdbWavesEffect><mdb-icon fas icon="plus" class="mr-1"></mdb-icon>Add policy</button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 col-12 mx-auto">
			<div class="md-form">
			  <!-- <input type="text" class="form-control" id="search" mdbInput> -->
			  <input type="text" [(ngModel)]="searchText" (ngModelChange)="searchItems()" class="form-control" id="search" mdbInput>
			  <label for="search">Search</label>
			</div>
		</div>
	</div>
	<table mdbTable calss="table"  #tablePolicies="mdbTable" >
		<thead class="thead-light">
			<tr>
			  <th>Name</th>
			  <th>Action</th>
			  <th>Effect</th>
			  <th>Resource</th>
			  <th>Options</th>
			</tr>
		</thead>
		<tbody *ngIf="(policies | json) != ({} | json)">
			<tr mdbTableCol *ngFor="let pol of objectKeys(policies); let i = index">
				<td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{objectKeys(policies[pol])}}</td>
				<td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
					<ul class="type-none" >
						<li class="type-none" *ngFor="let st of b64unpack(objectValues(policies[pol])).Statement"><div class="overflow-hidden statement-actions">{{st.Action}}</div><div *ngIf="st.Action.length > 4" class="lineCut">...</div></li>
					</ul>
				</td>
				<td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
					<ul class="type-none" >
						<li class="type-none" *ngFor="let st of b64unpack(objectValues(policies[pol])).Statement">{{st.Effect}}</li>
					</ul>
				</td>
				<td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
					<ul class="type-none" >
						<li class="type-none" *ngFor="let st of b64unpack(objectValues(policies[pol])).Statement"><div class="overflow-hidden statement-actions">{{st.Resource}}</div><div *ngIf="st.Resource.length > 4" class="lineCut">...</div></li>
					</ul>
				</td>
				<td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">
					<a (click)="rawPrepare(b64unpack(objectValues(policies[pol]))); rawViewModal.show()"  mdbTooltip="View Raw JSON" placement="top"><mdb-icon fas icon="eye"  size="1x" class="green-text pr-1" aria-hidden="true"></mdb-icon></a><span class="pr-3">&nbsp;</span>
					
					<a mdbTooltip="Remove Policy" placement="top" (click)="deletePolicyPrepare(objectKeys(policies[pol])); deleteApproveModal.show()"><mdb-icon fas icon="trash-alt" size="1x" class="red-text pr-1" aria-hidden="true"></mdb-icon></a><span class="pr-3">&nbsp;</span>

		  			<a mdbTooltip="Edit or Copy Policy" placement="top" class="action-link" (click)="isEditMode(true);updatePolicyPrepare(objectKeys(policies[pol]));addPolicyModal.show()"><mdb-icon fas icon="pencil-alt" size="1x" class="red-text pr-1" aria-hidden="true"></mdb-icon></a>
				</td>
			</tr>
		</tbody>
		<tfoot class="grey lighten-5 w-100">
			<tr>
				<td colspan="5">
				  <mdb-table-pagination [tableEl]="tablePolicies" [searchDataSource]="policies"></mdb-table-pagination>
				</td>
			</tr>
		</tfoot>
	</table>
</div>
<br/>
<br/>

<!-- delete approve modal -->

<div mdbModal #deleteApproveModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
   aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="deleteApproveModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Remove Policy</h4>
            </div>
            <div class="modal-body">
                Are you shure? <br/> After you click on <strong>"Delete"</strong> button policy <strong>{{policyToDelete}}</strong> will be removed.
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" mdbBtn color="success" class="waves-light" aria-label="Close" (click)="deleteApproveModal.hide()" mdbWavesEffect>Cancel</button>
                <button type="button" mdbBtn color="danger" class="relative waves-light" mdbWavesEffect (click)="deletePolicy(); deleteApproveModal.hide()">Delete</button>
            </div>
        </div>
    </div >
</div >

<!-- Raw view Modal -->

<div mdbModal #rawViewModal="mdbModal" class="modal fade right" tabindex="-1" role="dialog" aria-labelledby="rawViewModalLabel"
   aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="rawViewModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">Raw Policy</h4>
            </div>
            <div class="modal-body">
            	<ngx-json-viewer [json]="rawView"></ngx-json-viewer>
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="rawViewModal.hide()" mdbWavesEffect>Close</button>
            </div>
        </div>
    </div >
</div >

<!-- Policy build up Modal-->

<div mdbModal #addPolicyModal="mdbModal" class="modal fade right overflow-auto" tabindex="-1" role="dialog" aria-labelledby="addPolicyModalLabel"
   aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close pull-right" aria-label="Close" (click)="addPolicyModal.hide()">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title w-100" id="myModalLabel">{{modalCreateEditTitle}}</h4>
            </div>
            <div class="modal-body">
            	<!-- <form class="text-center" name="newPolicy"  > -->
            		<div class="row">
					    <div class="col-md-2 ml-auto">&nbsp;</div>
					    <div class="col-md-8 ml-auto">

					    	<div class="alert alert-info" role="alert" *ngIf="modalEditMode">
			                  <mdb-icon fas icon="info-circle" class="mr-1"></mdb-icon>  In Edit mode you can make a copy of policy - Just rename it!
			                </div>


					    	<div class="d-flex justify-content-around p-1 mb-3 text-center">
								<input type="text" class="form-control" placeholder="Policy Name" [(ngModel)]="newPolicy.name" name="newPolicyName"  aria-label="policyName" aria-describedby="basic-addon1">
							</div>

							<div class="d-flex justify-content-around p-1 text-center">
								<div>
									<!-- Allow -->
									<div class="custom-control custom-radio custom-control-inline">
									  <input type="radio" checked class="custom-control-input" id="statementAllow"  value="Allow" [(ngModel)]="newPolicy.effect"  name="policyStatementEffect" mdbInput>
									  <label class="custom-control-label" for="statementAllow">Allow</label>
									</div>
								</div>
								<div>
										<!-- Deny -->
									<div class="custom-control custom-radio custom-control-inline">
									  <input type="radio" class="custom-control-input" id="statementDeny" value="Deny" [(ngModel)]="newPolicy.effect" name="policyStatementEffect"  mdbInput>
									  <label class="custom-control-label" for="statementDeny">Deny</label>
									</div>
								</div>
							</div>

							<div class="d-flex justify-content-around p-1 mb-3 text-center">
								<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" 
							    [settings]="dropdownSettings" 
							    (onSelect)="onItemSelect($event)" 
							    (onDeSelect)="OnItemDeSelect($event)"
							    (onSelectAll)="onSelectAll($event)"
							    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
							</div>
							<div class="d-flex justify-content-around p-1 mb-1 text-center">
								<div class="input-group mb-3">
								  <div class="input-group-prepend">
								    <span class="input-group-text" id="s3-prefix">arn:aws:s3:::</span>
								  </div>
								  <input type="text" class="form-control" placeholder="<bucket_name>/<key_name>" [(ngModel)]="newPolicy.bucket" aria-label="Recipient's username"
								    aria-describedby="s3-prefix">
								  <div class="input-group-append">
								    <button mdbBtn gradient="blue" rounded="true"  outline="true" size="md" class="m-0 px-3 py-2" type="button" id="s3-prefix"
								      mdbWavesEffect (click)="addBucketStatement()">Add bucket</button>
								  </div>
								</div>
							</div>
							<div id="bucketStatements">
								<table  mdbTable mdbTableScroll scrollY="true" maxHeight="300"  class="table"  small="true">
									<thead class="thead-light">
										<th>Bucket</th>
										<th>Options</th>
									</thead>
									<tbody>
										<tr *ngFor="let bst of newStatement.Resource; let i = index" [attr.data-index]="i">
											<td>{{bst}}</td>
											<td><a title="Remove bucket statement" (click)="removeBucketStatement(i)"><mdb-icon fas icon="times-circle"  size="1x" class="green-text pr-3" aria-hidden="true"></mdb-icon></a></td>
										</tr>
									</tbody>
								</table>
							</div>
							<hr/>
						</div>
						<div class="col-md-2 ml-auto">&nbsp;</div>
					</div>

					
					<div class="d-flex justify-content-around p-1 mb-3 text-center">
						<button type="button" mdbBtn gradient="purple" rounded="true" class="relative waves-light btn btn-sm" mdbWavesEffect (click)="addStatement()"><mdb-icon fas icon="plus" class="mr-1"></mdb-icon>Add statement</button>
					</div>
					<div id="statements">
						<hr/>
						<table  mdbTable mdbTableScroll scrollY="true" maxHeight="300"  class="table"  small="true">
							<thead class="thead-light">
								<th>Effect</th>
								<th>Action</th>
								<th>Resource</th>
								<th>Options</th>
							</thead>
							<tbody>
								<tr *ngFor="let st of newPolicyRaw.Statement; let i = index" [attr.data-index]="i">
									<td>{{st.Effect}}</td>
									<td><div class="overflow-hidden statement-actions">{{st.Action}}</div></td>
									<td><div class="overflow-hidden statement-actions">{{st.Resource}}</div></td>
									<td>
										<a title="Remove statement" (click)="removeStatement(i)"><mdb-icon fas icon="times-circle"  size="1x" class="green-text pr-1" aria-hidden="true"></mdb-icon></a>
										&nbsp;&nbsp;
										<a title="Edit statement" (click)="editStatement(i)"><mdb-icon fas icon="pencil-alt"  size="1x" class="green-text pr-1" aria-hidden="true"></mdb-icon></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>

                <!-- </form> -->
            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" mdbBtn gradient="peach" rounded="true" class="relative waves-light" mdbWavesEffect (click)="createPolicy();addPolicyModal.hide()">{{modalCreateEditButtonText}}</button>
            </div>
        </div>
    </div >
</div >